
params {

    //fastq1 = "$projectDir/aa_R1.fastq"
    //fastq2 = "$projectDir/aa_R2.fastq"
    fastq1 = "$baseDir/aa_R1.fastq"
    fastq2 = "$baseDir/aa_R2.fastq"
 
    sample_ID = "AA"
    trimDir = "${sample_ID}/trimmed/"
    fastqcDir = "${sample_ID}/fastqc/"
    splitDir = "${sample_ID}/split/"
    databaseDir = "/HG38"
    reference_genome = "${databaseDir}/Homo_sapiens_assembly38.fasta"
    recalibrator_known_sites = "${databaseDir}/Homo_sapiens_assembly38.known_indels.vcf.gz"
    //recalibrator_known_sites = "${databaseDir}/resources_broad_hg38_v0_1000G_phase1.snps.high_confidence.hg38.vcf.gz"
    recalibrator_interval_list="${databaseDir}/SureSelect_Regions_50padded.interval_list"
}

process.container = 'prova:sandro'

docker {
    enabled = true
    fixOwnership = true
}



